@page "/"
@using todoweb.Client.Models
@inject HttpClient httpClient

<h1>todoweb</h1>

@if (fetched == false)
{
    <p><em>Loading...</em></p>
}
else
{
    if (todos == null)
    {
        <p>Please login.</p>
    }
    else
    {
        <p>Your current TODOs are:</p>
        <ul>
        @foreach (var todo in todos)
        {
            <li>@todo.Title</li>
        }
        </ul>
    }
}

@functions {
    bool fetched = false;
    IEnumerable<Todo> todos;

    protected override async Task OnInitAsync()
    {
        try
        {
            todos = await httpClient.GetJsonAsync<IEnumerable<Todo>>("../api/todo");
        }
        catch (HttpRequestException ex)
        {

        }
        fetched = true;
    }
}
